name: Shellscript CI

on:
  push:
    branches: [ "master" ]
    # Sequence of patterns matched against refs/tags
    tags:
      - "v*" # Push events to matching v*, i.e. v1.0, v20.15.10
  pull_request:
    branches: [ "master" ]
    # types: [assigned, opened, synchronize, reopened]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    # - name: configure
    #  run: ./configure

    - name: Install dependencies
      run: make

    - name: Run check
      run: make check

    - name: Run distcheck
      run: make distcheck

    - name: Upload artifacts
      uses: actions/upload-artifact@master
      if: startsWith(github.ref, 'refs/tags/v')
      with:
        name: binaries
        path: ./bash.sh

    - name: Upload binaries to release
      uses: svenstaro/upload-release-action@v2
      if: startsWith(github.ref, 'refs/tags/v') && false
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        file: ./bash.sh
        tag: ${{ github.ref }}
        overwrite: true
        file_glob: true
        append_body: true
        preserve_order: true
        generate_release_notes: true
        # discussion_category_name: Announcements
        # body_path: relnotes.md
        #   This release was created by: ${{ github.event.sender.login }}
        body: |
          Release of bash.sh, a shellscript toolset and starting point, built from commit ${{ env.SHORT_SHA }}, is now available.

    - name: Create Release
      id: create_release
      uses: softprops/action-gh-release@v2.4.1 # pin to v2.2.1 to solve 422 error, see its issue #616
      if: ${{ startsWith(github.ref, 'refs/tags/v')
      env:
        # GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        GITHUB_TOKEN: ${{ github.token }}
      with:
        generate_release_notes: true
        # discussion_category_name: Announcements
        # tag_name: ${{ github.ref }}
        tag_name: ${{ github.event.release.tag_name }}
        # release_name: Release ${{ github.ref }}
        draft: false
        prerelease: false
        append_body: true
        preserve_order: true
        # body_path: relnotes.md
        body: |
          Release of bash.sh, a shellscript toolset and starting point, built from commit ${{ env.SHORT_SHA }}, is now available.

          ${{ github.event.head_commit.message }}

        # body: |
        #   This release was created by: ${{ github.event.sender.login }}
        #   Release of ${{ github.ref }}, built from commit ${{ env.SHORT_SHA }}, is now available.
        # files: |
        #  ./cmdr-*.*
        #   build/*-*${{ matrix.config.build_type }}*-*.*
        # files: |
        #    build/packages/*${{ matrix.config.artifact }}
        files: |
          ./bash.sh
